In [2]:
import pandas as pd
from scipy.stats import skew
from scipy.stats import kurtosis

In [27]:
df=pd.read_csv("/Users/Jessie/Documents/JupyterNotebook/ass2data/House_Price.csv",keep_default_na=False)
df.shape

(1460, 81)

In [11]:
print('OverallQual skewness value:', skew(df['OverallQual']))
print('OverallQual kurtosis value:', kurtosis(df['OverallQual']))
print('GrLivArea skewness value:', skew(df['GrLivArea']))
print('GrLivArea kurtosis value:', kurtosis(df['GrLivArea']))
print('GarageCars skewness value:', skew(df['GarageCars']))
print('GarageCars kurtosis value:', kurtosis(df['GarageCars']))
print('GarageArea skewness value:', skew(df['GarageArea']))
print('GarageArea kurtosis value:', kurtosis(df['GarageArea']))
print('TotalBsmtSF skewness value:', skew(df['TotalBsmtSF']))
print('TotalBsmtSF kurtosis value:', kurtosis(df['TotalBsmtSF']))
print('SalePrice skewness value:', skew(df['SalePrice']))
print('SalePrice kurtosis value:', kurtosis(df['SalePrice']))

OverallQual skewness value: 0.2167209765258641
OverallQual kurtosis value: 0.091856548449611
GrLivArea skewness value: 1.365155954773434
GrLivArea kurtosis value: 4.874265760253215
GarageCars skewness value: -0.34219689543081294
GarageCars kurtosis value: 0.2161348715110729
GarageArea skewness value: 0.1797959420587727
GarageArea kurtosis value: 0.9098227950882034
TotalBsmtSF skewness value: 1.522688086978629
TotalBsmtSF kurtosis value: 13.201041630635025
SalePrice skewness value: 1.880940746034036
SalePrice kurtosis value: 6.509812011089439

In [29]:
from sklearn.model_selection import train_test_split
training_set, test_set=train_test_split(df, test_size=0.3, random_state=309)

In [15]:
training_set.shape

(1022, 81)

In [16]:
test_set.shape

(438, 81)

In [30]:
pd.DataFrame(training_set).to_csv("training.csv", index=False)
pd.DataFrame(test_set).to_csv("test.csv",index=False)

In [28]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000